
@{
    ViewBag.Title = "Pagar";
}

<h2>Pagar</h2>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <label>Muchas gracias por su compra.</label>
        <br />
        @Html.ActionLink("Seguir comprando", "Index", "Comida", null, null)
    </div>
</div>
