@{
    ViewBag.Title = "PagoRechazado";
}

<h2>Notificación</h2>

<div class="row">
    <div class="row">
        <h3>Lamentablemente ocurrió un error con el pago de su pedido. Por favor vuelva a intentarlo. Pedido Nº @ViewData["oid"]</h3>
        <br /> <br />
        <input type="button" onclick="location.href='https://www.parrillalossalteños.com/Comida';" value="Volver" />
    </div>
</div>
