@{
    ViewBag.Title = "PagoOk";
}

<h2>Notificación</h2>
<div class="row">
    <h3>Hemos procesado correctamente su pago. Muchas gracias por su compra. Pedido Nº = @ViewData["oid"]</h3>
    <br /> <br />
    <input type="button" onclick="location.href='https://www.parrillalossalteños.com/Comida';" value="Volver" />
</div>
